<%
# Return SVG logo
def logo
  '<svg xmlns="http://www.w3.org/2000/svg" version="1.2" width="65" height="41" viewBox="0 0 160 100" role="img" focusable="false">
            <title>Web API Sharing</title>
            <rect x="10" y="10" rx="10" ry="10" width="140" height="88" fill="transparent" stroke-width="1"></rect>
            <text x="80" y="70" font-size="60" text-anchor="middle">was</text>
          </svg>'
end
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web API Sharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Web API Sharing">
          <%=raw logo %>
      </a>
      <nav class="navbar-nav bd-navbar-bar">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link" href="/">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Popular</a>
          </li>
        </ul>
      </nav>
      <nav class="navbar-nav bd-navbar ml-md-auto">
          <li class="nav-item">
            <input id="search-input" type="text" class="form-control" placeholder="Search..." aria-label="Search..." value="Search">
          </li>
          <li class="nav-item">
            <a href="#" class="btn hdr-btn-link">Sign in</a>
          </li>
          <li class="nav-item">
            <a href="#" class="btn hdr-btn">Sign up</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="body" class="container-fluid">
      <%= yield %>
    </div>
    <footer class="d-flex flex-column justify-content-center justify-text-center">
      <div class="container row">
        <div class="offset-md-1 col-md-2 d-flex flex-column">
          <%=raw logo %>
          <div>© 2020 Web API Sharing</div>
        </div>
        <div class="offset-md-1 col-md-3 d-flex flex-column">
          <a href="#">FAQ</a>
          <a href="https://github.com/Chocorean/was/">Source code</a>
        </div>
        <div class="offset-md-1 col-md-3 d-flex flex-column">
          <a href="#">Privacy</a>
          <a href="#">Contact us</a>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
